<div id="content" class="cart">

  <!-- Page title -->
  <!-- +++++++++++++++++++++++++++++++++++++++ -->

  {% if cart.item_count > 0 %}
    <div class="page-title">
      <h1 class="heading-text">Cart</h1>
    </div>
  {% else %}
    <div class="page-title has-description">
      <h1 class="heading-text">Cart</h1>
      <h2>It appears that your cart is currently empty!</h2>
    </div>
  {% endif %}

  {% if cart.item_count > 0 %}

    <!-- Display the cart -->
    <!-- +++++++++++++++++++++++++++++++++++++++ -->

	{% assign delimiter = "," %}
	{% assign groups_str = "" %}
	{% assign groups = cart.items | map: 'properties' | map: 'bowbuilder-group' %}
	
	{% for group in groups %}
		{% assign groups_arr = groups_str | split: delimiter %}
		{% unless groups_arr contains group %}
			{% assign groups_str = groups_str | append: delimiter | append: group %}
		{% endunless %}
	{% endfor %}
	{% assign groups_uniq = groups_str | remove_first: delimiter | split: delimiter %}

    <form action="/cart" method="post" id="cart-form">

      <!-- Cart table header -->
      <table>
        
        <!-- Cart table headers -->
        <thead>
        <tr class="cart-table-header accent-text">
          <th class="first">Item</th>
          <th>&nbsp;</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Remove</th>
          <th class="last">Total</th>
        </tr>
        </thead>

        {% for group in groups_uniq %}
          <tbody class="bowbuilder-group">
            <tr class="cart-table-header"><th colspan="6" class="first accent-text">
              Build Your Bow:
            </th></tr>
            {% for item in cart.items %}
              {% if item.properties['bowbuilder-group'] == group %}
                <tr class="cart-row {% include 'for-looper' %}">
                  <td class="cart-item first">
                  <a href="{{ item.product.url | within: collections.all }}"><img src="{{ item.product.images[0] | product_img_url: "small" }}" alt="{{ item.title | escape }}" /></a>
                  </td>
                  <td class="cart-detail">
                  <a href="{{ item.product.url }}">{{ item.title | escape }}</a>
                  <!--
                  {% for p in item.properties %}
                  {% unless p.last == blank %}
                  {{ p.first }}:
                  {% if p.last contains '/uploads/' %}
                  <a class="lightbox" href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                  {% else %}
                  {{ p.last }}
                  {% endif %}
                  <br />
                  {% endunless %}
                  {% endfor %}
                  -->
                  </td>
                  <td class="cart-price accent-text">{{ item.price | money }}</td>
                  <td class="cart-quantity"><input type="number" class="styled-text-field" name="updates[]" id="updates_{{ item.variant.id }}" value="{{ item.quantity }}" /></td>
                  <td class="cart-remove"><a href="/cart/change/?line={{ forloop.index }}&quantity=0" title="remove">Remove</a></td>
                  <td class="cart-total accent-text last">{{ item.line_price | money }}</td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>

        {% endfor %}

        <!-- Cart table line-items -->
        {% for item in cart.items %}
          {% if item.properties['bowbuilder-group'] == "" %}
            <tr class="cart-row {% include 'for-looper' %}">
              <td class="cart-item first">
              <a href="{{ item.product.url | within: collections.all }}"><img src="{{ item.product.images[0] | product_img_url: "small" }}" alt="{{ item.title | escape }}" /></a>
              </td>
              <td class="cart-detail">
              <a href="{{ item.product.url }}">{{ item.title | escape }}</a>
          
              <!--
              {% for p in item.properties %}
              {% unless p.last == blank %}
              {{ p.first }}:
              {% if p.last contains '/uploads/' %}
              <a class="lightbox" href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
              {% else %}
              {{ p.last }}
              {% endif %}
              <br />
              {% endunless %}
              {% endfor %}
              -->
          
              </td>
              <td class="cart-price accent-text">{{ item.price | money }}</td>
              <td class="cart-quantity"><input type="number" class="styled-text-field" name="updates[]" id="updates_{{ item.variant.id }}" value="{{ item.quantity }}" /></td>
              <td class="cart-remove"><a href="/cart/change/?line={{ forloop.index }}&quantity=0" title="remove">Remove</a></td>
              <td class="cart-total accent-text last">{{ item.line_price | money }}</td>
            </tr>
          {% endif %}
        {% endfor %}

      </table>

      <!-- Secondary cart tools -->
      <div id="cart-tools" class="clearfix">

        <!-- Totals & checkout -->
        <div id="cart-checkout">

          <h2 id="cart-subtotal" class="accent-text">Subtotal <em>{{ cart.total_price | money }}</em></h2>

          <div id="cart-update-or-submit">
            <input type="submit" id="update-cart" name="update" value="Update cart" /> <span>or</span> <input id="checkout-button" class="action-btn accent-text" type="submit" name="checkout" value="Check out" />
          </div>

          {% if additional_checkout_buttons %}
            <div class="additional-checkout-buttons">
              {{ content_for_additional_checkout_buttons }}
            </div>
          {% endif %}

        </div>

        <!-- Optional special notes -->
        {% if settings.show-cart-notes == true %}
          <div id="cart-notes">
            <p class="accent-text">{{ settings.cart-notes-title }}</p>
            <textarea class="styled-text-field" id="cart-notes-area" name="note">{{ cart.note}}</textarea>
          </div>
        {% endif %}

      </div>

    </form>

  {% endif %}

  <!-- Display if cart is empty -->
  <!-- +++++++++++++++++++++++++++++++++++++++ -->

  <a href="{{ settings.cart-continue-url }}" class="nav-btn accent-text">Continue shopping →</a>

  <!-- Display the cart -->
  <!-- +++++++++++++++++++++++++++++++++++++++ -->

  {% include 'breadcrumbs' %}

</div>