<div id="content" class="collection  {% if paginate.previous or paginate.next %}has-pagination{% endif %} {{ settings.products-pagination-method }}">

  <!-- Page title -->
  <!-- +++++++++++++++++++++++++++++++++++++++ -->

  <div class="page-title">
    <h1 class="heading-text">{{ page.title }}</h1>
  </div>

  <!-- Standard page content -->
  <!-- +++++++++++++++++++++++++++++++++++++++ -->

  {% if page.content.size > 0 %}
    <section id="page-content" class="rte">
      {{ page.content }}
    </section>
  {% endif %}
  
  <div class="bowbuilder">
  
    <div class="bowbuilder-wizard">
  
      <ol class="steps bowbuilder-progress">
        <li data-target="#bowbuilder-base-bow" class="active">
          <span class="step-order">1</span>
          <span class="step-name accent-text">Base Bow</span></a>
        </li>
        <li data-target="#bowbuilder-small-bow">
          <span class="step-order">2</span>
          <span class="step-name accent-text">Small Bow</span></a>
        </li>
        <li data-target="#bowbuilder-topping">
          <span class="step-order">3</span>
          <span class="step-name accent-text">Topping</span></a>
        </li>
        <li data-target="#bowbuilder-finish">
          <span class="step-order">4</span>
          <span class="step-name accent-text">Finish</span></a>
        </li>
      </ol>

    </div>

    <div class="step-content">
      <form action="/cart/add" method="post" enctype="multipart/form-data">
      
        {% assign linklist = linklists['bowbuilder'] %}
        {% assign current_time = 'now' | date: "%Y%m%d%H%M%S" %}      
        <input type="hidden" name="properties[bowbuilder-group]" value="{{ current_time }}" />
      
        {% assign step_num  = '1' %}
        {% assign step_name = 'Base Bow' %}
        {% assign tag  = 'bowbuilder-base-bow' %}
        <div class="bowbuilder-component step-pane active" id="{{ tag }}">
          <h2>Step {{ step_num }}: Choose your {{ step_name }}</h2>
          <div class="bowbuilder-products">
            <ul class="product-list clearfix">
              {% for product in collections.all.products %}
                {% if product.tags contains tag %}
                  {% for variant in product.variants %}
                    {% include 'bowbuilder-product-variant-item' %}
                  {% endfor %}                    
                {% endif %}
              {% endfor %}
            </ul>
            <select name="id[]" class="bowbuilder-product-select" data-bowbuilder-component="{{ tag }}">
              <option value=""></option>
              {% for product in collections.all.products %}
                {% if product.tags contains tag %}
                  {% for variant in product.variants %}
                    <option value="{{ variant.id }}">
                      {{ product.title }} ({{ variant.price | money }})
                    </option>
                  {% endfor %}
                {% endif %}
              {% endfor %}
            </select>
            <input type="hidden" name="properties[bowbuilder-collection-product-map][{{ tag }}]" value="{{ step_num }}" />
          </div>
        </div>
      
        {% assign step_num  = '2' %}
        {% assign step_name = 'Small Bow' %}
        {% assign tag  = 'bowbuilder-small-bow' %}
        <div class="bowbuilder-component step-pane" id="{{ tag }}">
          <h2>Step {{ step_num }}: Choose your {{ step_name }}</h2>
          <div class="bowbuilder-products">
            <ul class="product-list clearfix">
              {% for product in collections.all.products %}
                {% if product.tags contains tag %}
                  {% for variant in product.variants %}
                    {% include 'bowbuilder-product-variant-item' %}
                  {% endfor %}                    
                {% endif %}
              {% endfor %}
            </ul>
            <select name="id[]" class="bowbuilder-product-select" data-bowbuilder-component="{{ tag }}">
              <option value=""></option>
              {% for product in collections.all.products %}
                {% if product.tags contains tag %}
                  {% for variant in product.variants %}
                    <option value="{{ variant.id }}">
                      {{ product.title }} ({{ variant.price | money }})
                    </option>
                  {% endfor %}
                {% endif %}
              {% endfor %}
            </select>
            <input type="hidden" name="properties[bowbuilder-collection-product-map][{{ tag }}]" value="{{ step_num }}" />
          </div>
        </div>
      
        {% assign step_num  = '3' %}
        {% assign step_name = 'Topping' %}
        {% assign tag  = 'bowbuilder-topping' %}
        <div class="bowbuilder-component step-pane" id="{{ tag }}">
          <h2>Step {{ step_num }}: Choose your {{ step_name }}</h2>
          <div class="bowbuilder-products">
            <ul class="product-list clearfix">
              {% for product in collections.all.products %}
                {% if product.tags contains tag %}
                  {% for variant in product.variants %}
                    {% include 'bowbuilder-product-variant-item' %}
                  {% endfor %}                    
                {% endif %}
              {% endfor %}
            </ul>
            <select name="id[]" class="bowbuilder-product-select" data-bowbuilder-component="{{ tag }}">
              <option value=""></option>
              {% for product in collections.all.products %}
                {% if product.tags contains tag %}
                  {% for variant in product.variants %}
                    <option value="{{ variant.id }}">
                      {{ product.title }} ({{ variant.price | money }})
                    </option>
                  {% endfor %}
                {% endif %}
              {% endfor %}
            </select>
            <input type="hidden" name="properties[bowbuilder-collection-product-map][{{ tag }}]" value="{{ step_num }}" />
          </div>
        </div>
      
        {% assign step_num  = '4' %}
        {% assign step_name = 'Finish' %}
        {% assign tag  = 'bowbuilder-finish' %}
        <div class="step-pane" id="{{ tag }}">
        
          <script id="builder-preview-template" type="text/x-handlebars-template">
            {% raw %}
              
              <div class="builder-final-preview-image">
                {{#each images}}
                  <img src="{{src}}">
                {{/each}}
              </div>
              
              <div id="builder-preview-details">
                <ul>
                {{#each variants}}
                  <li>{{name}} - {{price}}</li>
                {{/each}}
                </ul>
              </div>

              <!--<label>Quantity:</label> <input type="text" name="quantity" size="1" value="1">-->
              <input type="hidden" name="quantity" value="1">
              <button class="action-btn accent-text submit-button btn">Add to Cart</button>
              
            {% endraw %}
          </script>
          <div id="builder-preview" class="clearfix"></div>

        </div>
      
      </form>
    </div>
  
  </div>

  <script id="product-detail-template" type="text/x-handlebars-template">
    {% raw %}
      <div class="fancybox">
        <meta name="step" value="{{step}}">
        <meta name="id" value="{{id}}">
        <div class="bowbuilder-product-detail">
          <img class="bowbuilder-product-detail-image" src="{{image}}">
          <h2 class="bowbuilder-product-detail-title">{{title}}</h2>
          <p class="bowbuilder-product-detail-price">{{price}}</p>
          <div class="bowbuilder-product-detail-description">{{{description}}}</div>
          <div>
            <button class="bowbuilder-product-detail-select-btn action-btn accent-text">Select This Bow</button>
          </div>
        </div>
      </div>
    {% endraw %}
  </script>

  <!-- Breadcrumbs -->
  <!-- +++++++++++++++++++++++++++++++++++++++ -->

  {% include 'breadcrumbs' %}

</div>

