<div id="content" class="collection  {% if paginate.previous or paginate.next %}has-pagination{% endif %} {{ settings.products-pagination-method }}">

  <!-- Page title -->
  <!-- +++++++++++++++++++++++++++++++++++++++ -->

  <div class="page-title">
    <h1 class="heading-text">{{ page.title }}</h1>
  </div>

  <!-- Standard page content -->
  <!-- +++++++++++++++++++++++++++++++++++++++ -->

  {% if page.content.size > 0 %}
    <section id="page-content" class="rte">
      {{ page.content }}
    </section>
  {% endif %}

  <div id="bow-builder">

    <form action="/cart/add" method="post" enctype="multipart/form-data">

      {% assign linklist = linklists['bowbuilder'] %}
      {% assign current_time = 'now' | date: "%Y%m%d%H%M%S" %}

      <input type="hidden" name="properties[bowbuilder-group]" value="{{ current_time }}" />
      
      <div class="bow-builder-steps">
        <ol>

          {% assign collection = collections.large-bows %}
      
          <li class="step" data-section="{{ collection.handle }}">
            <span class="step-title">
              <span class="step-order accent-text">Step 1:</span>
              <span class="step-name accent-text"><a href="#">Base Bow</a></span>
            </span>

            <div class="bow-builder-products">
            
              <ul class="product-list clearfix">
                {% for product in collection.products %}
                  {% for variant in product.variants %}
                    {% include 'bowbuilder-product-variant-item' %}
                  {% endfor %}
                {% endfor %}
              </ul>

              <select name="id[]" class="bow-builder-product-select" data-section="{{ collection.handle }}">
                <option value=""></option>
                {% for product in collection.products %}
                  {% for variant in product.variants %}
                    <option value="{{ variant.id }}">
                      {{ product.title }} ({{ variant.price | money }})
                    </option>
                  {% endfor %}
                {% endfor %}
              </select>
              <input type="hidden" name="properties[bowbuilder-collection-product-map][{{ collection.handle }}]" value="1" />
            
            </div>
          </li>

          {% assign collection = collections.small-bows %}
          
          <li class="step" data-section="{{ collection.handle }}">
            <span class="step-title">
              <span class="step-order accent-text">Step 2:</span>
              <span class="step-name accent-text"><a href="#">Small Bow</a></span>
            </span>

            <div class="bow-builder-products">
            
              <ul class="product-list clearfix">
                {% for product in collection.products %}
                  {% for variant in product.variants %}
                    {% include 'bowbuilder-product-variant-item' %}
                  {% endfor %}
                {% endfor %}
              </ul>

              <select name="id[]" class="bow-builder-product-select" data-section="{{ collection.handle }}">
                <option value=""></option>
                {% for product in collection.products %}
                  {% for variant in product.variants %}
                    <option value="{{ variant.id }}">
                      {{ product.title }} ({{ variant.price | money }})
                    </option>
                  {% endfor %}
                {% endfor %}
              </select>
              <input type="hidden" name="properties[bowbuilder-collection-product-map][{{ collection.handle }}]" value="2" />
            
            </div>
          </li>

          {% assign collection = collections.toppings %}
          
          <li class="step" data-section="{{ collection.handle }}">
            <span class="step-title">
              <span class="step-order accent-text">Step 3:</span>
              <span class="step-name accent-text"><a href="#">Topping</a></span>
            </span>

            <div class="bow-builder-products">
            
              <ul class="product-list clearfix">
                {% for product in collection.products %}
                  {% for variant in product.variants %}
                    {% include 'bowbuilder-product-variant-item' %}
                  {% endfor %}
                {% endfor %}
              </ul>

              <select name="id[]" class="bow-builder-product-select" data-section="{{ collection.handle }}">
                <option value=""></option>
                {% for product in collection.products %}
                  {% for variant in product.variants %}
                    <option value="{{ variant.id }}">
                      {{ product.title }} ({{ variant.price | money }})
                    </option>
                  {% endfor %}
                {% endfor %}
              </select>
              <input type="hidden" name="properties[bowbuilder-collection-product-map][{{ collection.handle }}]" value="3" />
            
            </div>
          </li>
          
        </ol>
        
        <br>

        <label>Quantity:</label> <input type="text" name="quantity" size="1" value="1">
				<button class="action-btn accent-text submit-button btn">Add to Cart</button>
        
      </div>
    
      <div class="bow-builder-preview">
        This is the preview image
      </div>
    
    </form>

  </div>

  <script id="product-detail-template" type="text/x-handlebars-template">
    {% raw %}
      <div class="fancybox">
        <meta name="step" value="{{size}}">
        <meta name="id" value="{{id}}">
        <div class="product-detail">
          <img class="product-detail-image" src="{{image}}">
          <h1 class="product-detail-title">{{title}}</h1>
          <p class="product-detail-price">{{price}}</p>
          <div class="product-detail-description">{{{description}}}</div>
          <div>
            <button class="product-detail-select-btn action-btn accent-text">Select This Bow</button>
          </div>
        </div>
      </div>
    {% endraw %}
  </script>

  <!-- Breadcrumbs -->
  <!-- +++++++++++++++++++++++++++++++++++++++ -->

  {% include 'breadcrumbs' %}

</div>

{{ 'jquery.isotope.min.js' | asset_url | script_tag }}
{{ 'handlebars.js' | asset_url | script_tag }}
{{ 'jquery.fancybox.pack.js' | asset_url | script_tag }}
{{ 'bow-builder.js' | asset_url | script_tag }}